@import "~bootstrap/scss/bootstrap";

body {
	background-color: #252830;
	color: #cfd2da;
	font-size: 0.9rem;
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;

	.header {
		h3 {
			margin-top: 1rem;
			margin-bottom: 1rem;
			font-size: 1.75rem;
			font-family: inherit;
			font-weight: 300;
			line-height: 1.1;
			color: #fff;
		}
	}

	.btn + .btn {
		margin-left: 15px;
	}
	.btn.btn-primary {
		background-color: #1997c6;
		display: inline-block;
		font-size: 0.9rem;
		font-weight: normal;
		line-height: 1.25;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
		user-select: none;
		border: 1px solid #1997c6;
		border-radius: 0.25rem;
		padding: 0.5rem 1rem;
		transition: all 0.2s ease-in-out;
		touch-action: manipulation;
		text-decoration: none;

		&:hover {
			background-color: #137499;
			border-color: #137499;
		}
	}
}